.productDetail_main_container {
    margin: 10px 0px;
    color: var(--white-color);
}

.productDetail_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;

    @media screen and (max-width: 992px) {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 30px;
    }
}

.productDetail_image {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
    border-radius: 10px;

    & img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.productDetails_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-inline: 20px;
}