.product_card_image {
    position: relative;
    height: 300px;
}

.product_card_image img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.card-body p {
    font-family: var(--font-poppins);
    font-weight: 400;
    font-size: 16px;
}